@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Dropzone.js Bulk File Upload</title>
    <!-- Include Dropzone.js -->
    
</head>
<body>

    <form method="post" enctype="multipart/form-data">
        <div id="fileBasket" class="filebasket">
            Drag-n-Drop files here.
        </div>
        <br />
        @* <img id="progress" src="~/Images/Progress.gif" /> *@
    </form>



    <script src="c:\users\matin\source\repos\mazorganization\mazorganization\wwwroot\js\drop.js"></script>
</body>

</html>

